-#%code= @album.inspect
- @album[:photos].each do |photo|
	%div(id="photo-#{photo['guid']}" class='photo')
		%h2= photo['title']
		%a(href="#{photo['webImageUrl']}")
			%img(src="#{photo['smallDerivativeUrl']}")
		-# %code= photo.inspect
	%hr