- @albums.each do |album|
	%div(id="album-#{album['guid']}" class='album')
		- path = album['path']
		- gallery_num = path[path.rindex('/')+1..-1]
		%a(href="/albums/#{gallery_num}")
			%h1 #{album['title']} (#{album['numPhotos']})
		-#%img(src="#{album['keyImagePath']}/web.#{album['keyImageFileExtension']}")
		%img(src="#{album['keyImagePath']}.#{album['keyImageFileExtension']}?derivative=square&source=web.png&type=square")
		-#%code= album.inspect